{% extends 'base.html.twig' %}

{% block title %}Mon compte - Changement mot de passe - SymfonyMarket{% endblock %}

{% block content %}
    <h1>Modifier son mot de passe ({{ app.user.firstname }} {{ app.user.lastname }})</h1>
    <a href="{{ path('account') }}">Retour à mon compte.</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>
{% endblock %}
